.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
  margin: 10px;
  align-items: center;
  background-color: #282c34;
}
.header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left menu column */
.column.menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  left: 20vw;
}

/* Right calendar column */
.column.calendar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}